#dashboard-wrapper{{ 'ng-controller': 'DashboardController as dashboard_ctrl' }}
  = render 'dashboard/controls'
  = render 'dashboard/components/main', component: 'log_entries'
  = render 'dashboard/components/main', component: 'activities'
