.cell{ ng: { repeat: 'cell in log_entries_ctrl.table.cells',
             mouseleave: "log_entries_ctrl.table.handle_mouseleave($event, cell)",
             mousedown: "log_entries_ctrl.table.handle_mousedown($event, cell)",
             mouseenter: "log_entries_ctrl.table.handle_mouseenter($event, cell)",
             class: "cell.class()",
             style: "cell.style()" }}

  {{ cell.date.format('HH:mm') }}
