.table-selection#table-selection{ 'ng-show': 'log_entries_ctrl.table.segments.length > 0' }
  %p {{ log_entries_ctrl.table.number_of_selected_cells() }} selected cells. ( {{ log_entries_ctrl.table.time_of_selected_cells() | elapsed }})

  = form_tag '/', class: 'ui form' do
    .div{ ng: { repeat: 'segment in log_entries_ctrl.table.segments' } }
      .ui.fluid.mini.steps
        .step
          .title {{ segment.started_at.format('HH:mm') }}
        .step
          .title {{ segment.finished_at.format('HH:mm') }}

      .ui.field
        %div{ activity_picker: { object_name: :log_entry,
              field_name: :activity_id,
              ng_model: 'segment.activity' }.to_json }

      .ui.field
        = text_area(:log_entry, :observations, 'ng-model': 'segment.observations')

      .ui.divider

    .ui.small.buttons
      .ui.primary.button.log-entries-selection-save{ 'ng-click': 'log_entries_ctrl.saveLogEntries()' } Save
      .ui.basic.button.log-entries-selection-cancel{ 'ng-click': 'log_entries_ctrl.table.clear_selection()' } Cancel
