- component_id = @template_params[:component_id]

.dashboard-component-controls
  .title
    = "{{ dashboard_ctrl.components['#{component_id}'].title }}"

    .actions
      %i.small.close.icon.close-button{ 'ng-click': "dashboard_ctrl.toggleComponentVisibility('#{component_id}')" }
