.dashboard-component-wrapper{ 'ng-show': "dashboard_ctrl.components.#{component}.visible" }
  = render 'dashboard/components/controls', component: component

  .dashboard-component
    = render "#{component}/dashboard"
