.ui.mini.basic.buttons.dashboard-controls
  .ui.button{ 'ng-click': "log_entries_ctrl.loadNew(log_entries_ctrl.prev_day.db)"  }
    {{ log_entries_ctrl.prev_day.formatted }}

  .ui.button{ 'ng-click': "log_entries_ctrl.loadNew(log_entries_ctrl.next_day.db)"  }
    {{ log_entries_ctrl.next_day.formatted }}

.ui.divider
