%div{ 'ng-controller': 'LogEntriesController as log_entries_ctrl', 'ng-init': "log_entries_ctrl.init('#{@template_params[:day]}')" }
  = render 'log_entries/dashboard_controls'
  = render 'log_entries/index'
