.component-body
  = render 'log_entries/table/index'

  .log-entry-and-table-selection-wrapper
    = render 'log_entries/list'
    = render 'log_entries/table/selection'

  .ui.clearing.hidden.fitted.divider
