%p Olá #{@resource.email}!
%p Foi feita uma requisição de mudança de senha para o sistema interno da Instrutécnica.
%p= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token)
%p Se você não fez essa requisição, apenas ignore este e-mail.
