.activity-list
  .activity-list-item{ 'ng-repeat': 'activity in activities_ctrl.displayable_activities' }
    %div{ 'data-activity-list-item': true  }

.ui.divider
= render 'activities/form'

.ui.primary.small.icon.button{ 'ng-click': 'activities_ctrl.setBlankFormActivity()', 'ng-hide': 'activities_ctrl.form_activity' }
  %i.plus.icon.add-button
