.activity-title
  .color-bubble{ 'ng-style': "{ 'background-color': '{{ activity.color }}' }"}
  {{ activity.name }}

  .actions
    %i.small.edit.icon
    %i.small.eye.icon

.activity-list-item{ 'ng-repeat': 'activity in activity.children' }
  %div{ 'data-activity-list-item': true  }
